@model Only_Bikes.ViewModels.ChangeUserNameViewModel


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Zmień nazwę uzytkownika</h2>
        </div>
        <div class="col-12">
            @if (TempData["UserNameChangeSuccess"] != null)
            {
                <div class="alert alert-success">
                    @TempData["UserNameChangeSuccess"]
                </div>
            }
        </div>
        <div class="col-12">
            <form asp-action="ChangeUserName" asp-controller="Settings" method="post">
                <div class="form-group">
                    <label asp-for="NewUserName" class="control-label"></label>
                    <input asp-for="NewUserName" class="form-control"/>
                    <span asp-validation-for="NewUserName" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mt-1">Zmień nazwę użytkownika</button>
            </form>
        </div>
    </div>
</div>