<!DOCTYPE html>

<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Only Bikes</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet"/>
    <base href="/"/>
</head>

<body>
<div class="container">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary"
             aria-label="Only Bikes">
            <div class="container-xl">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="images//logo-hz.png" width="151" height="47" class="d-inline-block align-top mb-2 mt-1"
                         alt="Only Bikes Logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Bicycle" asp-action="List" class="nav-link">Bikes</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Logout" class="nav-link">Wyloguj się</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">Zaloguj się</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-controller="Settings" asp-action="Settings" class="nav-link">Ustawienia</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
</div>
</body>
</html>